/* ====================== ================  ======================= =====================  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ====================== ================  ======================= =====================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ====================== ================ sign up ======================= =====================  */

.signup_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  flex: 1;
  height: 100%;
}

.signin_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.left_title {
  color: #111;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  padding: 0 140px;
}

.left_des {
  color: #666;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  padding: 0 18%;
}

.signUp_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  margin-top: 30px;
}

.signupLabel {
  color: #666;
  font-size: 15px;
}

.emailInput_signup,
.passwordInput_signup {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 0 15px;
  font-size: 15px;
  outline: none;
}

.passwordInput_signup {
  position: relative;
}

.sigUpeyeBtn {
  position: absolute;
  top: 63%;
  left: 37%;
  cursor: pointer;
}

.emailInput_signup:focus,
.passwordInput_signup:focus {
  border-color: #111;
}

.signup_btn {
  width: 55%;
  padding: 14px 0 15px 0;
  border-radius: 40px;
  background: #111111;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
}

/* ====================== ================ sign up ======================= =====================  */

/* ====================== ================ sign in ======================= =====================  */
.signin_div {
  background: url("../Backdrop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signin_overlay {
  position: relative;
  z-index: 11;
  background-color: #fff;
  width: 795px;
  height: 661px;
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #111;
  object-fit: cover;
  margin-bottom: 24px;
  display: block;
  margin-top: 40px;
}

.login_text {
  color: #333;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signUp_text {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.signup__button {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.signin_btn {
  width: 50%;
  padding: 14px 0 15px 0;
  border-radius: 40px;
  background: #111111;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
}

.signin_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  margin-top: 30px;
}

.signinLabel {
  color: #666;
  font-size: 15px;
}

.emailInput_signin,
.passwordInput_signin {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 0 15px;
  font-size: 15px;
  outline: none;
}

.passwordInput_signin {
  position: relative;
}

.siginINeyeBtn {
  position: absolute;
  top: 50%;
  left: 72%;
  cursor: pointer;
}

.emailInput_signin:focus,
.passwordInput_signin:focus {
  border-color: #111;
}

.forgetPass {
  text-align: end;
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* ====================== ================ sign in ======================= =====================  */

/* ====================== ================ forget pass ======================= =====================  */

.forgetText {
  margin-top: 70px;
  padding: 0 200px;
}

.forgetLabel {
  margin-top: 10%;
}

.forgetMessage {
  margin-top: 100px;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  text-align: center;
  border: 1px solid black;
}

.hidden {
  display: none;
}

/* ====================== ================ forget pass ======================= =====================  */
